meeting-intelligence/lambda/workflow-definition-fixed.json
{
  "Comment": "Meeting Intelligence Processing Workflow",
  "StartAt": "TranscribeMeeting",
  "States": {
    "TranscribeMeeting": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:ACCOUNT_ID:function:MeetingTranscriber",
      "ResultPath": "$.transcribeResult",
      "Next": "ParseTranscribeResult"
    },
    "ParseTranscribeResult": {
      "Type": "Pass",
      "Parameters": {
        "jobName.$": "States.StringToJson($.transcribeResult.body).jobName",
        "meetingId.$": "States.StringToJson($.transcribeResult.body).meetingId",
        "bucket.$": "States.StringToJson($.transcribeResult.body).bucket"
      },
      "Next": "WaitForTranscription"
    },
    "WaitForTranscription": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckTranscriptionStatus"
    },
    "CheckTranscriptionStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.jobName"
      },
      "ResultPath": "$.transcriptionStatus",
      "Next": "IsTranscriptionComplete"
    },
    "IsTranscriptionComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transcriptionStatus.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "AnalyzeMeeting"
        },
        {
          "Variable": "$.transcriptionStatus.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "TranscriptionFailed"
        }
      ],
      "Default": "WaitForTranscription"
    },
    "AnalyzeMeeting": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:ACCOUNT_ID:function:MeetingAnalyzer",
      "End": true
    },
    "TranscriptionFailed": {
      "Type": "Fail",
      "Error": "TranscriptionFailed",
      "Cause": "The transcription job failed"
    }
  }
}
