meeting-intelligence/lambda/workflow-definition.json
{
  "Comment": "Meeting Intelligence Processing Workflow",
  "StartAt": "TranscribeMeeting",
  "States": {
    "TranscribeMeeting": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:751017186170:function:MeetingTranscriber",
      "Next": "WaitForTranscription"
    },
    "WaitForTranscription": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckTranscriptionStatus"
    },
    "CheckTranscriptionStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.body.jobName"
      },
      "Next": "IsTranscriptionComplete"
    },
    "IsTranscriptionComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "AnalyzeMeeting"
        },
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "TranscriptionFailed"
        }
      ],
      "Default": "WaitForTranscription"
    },
    "AnalyzeMeeting": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:751017186170:function:MeetingAnalyzer",
      "End": true
    },
    "TranscriptionFailed": {
      "Type": "Fail",
      "Error": "TranscriptionFailed",
      "Cause": "The transcription job failed"
    }
  }
}
